In [4]:
import pandas as pd
import numpy as np
from sklearn.cluster import DBSCAN
from geopy.distance import great_circle
import plotly.express as px

In [5]:
caract_df = pd.read_csv("data/caract-2023.csv", delimiter=";")
lieux_df = pd.read_csv("data/lieux-2023.csv", delimiter=";")
usagers_df = pd.read_csv("data/usagers-2023.csv", delimiter=";")
vehicules_df = pd.read_csv("data/vehicules-2023.csv", delimiter=";")

/tmp/ipykernel_30923/1231905103.py:2: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  lieux_df = pd.read_csv("data/lieux-2023.csv", delimiter=";")

In [6]:
print(caract_df)

            Num_Acc  jour  mois    an   hrmn  lum  dep    com  agg  int  atm  \
0      202300000001     7     5  2023  06:00    1   75  75101    2    4    2
1      202300000002     7     5  2023  05:30    5   94  94080    2    1    3
2      202300000003     7     5  2023  20:50    1   94  94022    2    3    2
3      202300000004     6     5  2023  23:57    5   94  94078    2    1    3
4      202300000005     7     5  2023  00:50    5   94  94068    2    2    3
...             ...   ...   ...   ...    ...  ...  ...    ...  ...  ...  ...
54817  202300054818    26    10  2023  20:45    5  974  97416    2    1    1
54818  202300054819    26    10  2023  19:10    3  974  97416    1    1    1
54819  202300054820    26    10  2023  09:40    1  974  97411    2    1    1
54820  202300054821    26    10  2023  17:20    1  973  97302    1    6    1
54821  202300054822    20    10  2023  16:30    1   69  69387    2    1    6

       col                           adr            lat           long
0        7                 RUE DE RIVOLI    48,86638600     2,32347100
1        6               Avenue de Paris    48,84547782     2,42868146
2        1     Avenue du Général Leclerc    48,76240000     2,40655000
3        5                  Rue de Paris    48,73248432     2,44687575
4        3          56bis Avenue Raspail    48,78581000     2,49217000
...    ...                           ...            ...            ...
54817    6     LA FONTAINE (RUE JEAN DE)   -21,33828000    55,47771000
54818    3          RN3 (ANCIENNE ROUTE)   -21,28865000    55,50994000
54819    7  BAMBOU (CHEMIN DE LA RUELLE)   -20,90129000    55,40598000
54820    3             ROUTE NATIONALE 1     4,89713000   -52,32854000
54821    3          Boulevard Yves Farge    45,73306000     4,82540000

[54822 rows x 15 columns]

In [7]:
display(caract_df)

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,adr,lat,long
0,202300000001,7,5,2023,06:00,1,75,75101,2,4,2,7,RUE DE RIVOLI,"48,86638600","2,32347100"
1,202300000002,7,5,2023,05:30,5,94,94080,2,1,3,6,Avenue de Paris,"48,84547782","2,42868146"
2,202300000003,7,5,2023,20:50,1,94,94022,2,3,2,1,Avenue du Général Leclerc,"48,76240000","2,40655000"
3,202300000004,6,5,2023,23:57,5,94,94078,2,1,3,5,Rue de Paris,"48,73248432","2,44687575"
4,202300000005,7,5,2023,00:50,5,94,94068,2,2,3,3,56bis Avenue Raspail,"48,78581000","2,49217000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54817,202300054818,26,10,2023,20:45,5,974,97416,2,1,1,6,LA FONTAINE (RUE JEAN DE),"-21,33828000","55,47771000"
54818,202300054819,26,10,2023,19:10,3,974,97416,1,1,1,3,RN3 (ANCIENNE ROUTE),"-21,28865000","55,50994000"
54819,202300054820,26,10,2023,09:40,1,974,97411,2,1,1,7,BAMBOU (CHEMIN DE LA RUELLE),"-20,90129000","55,40598000"
54820,202300054821,26,10,2023,17:20,1,973,97302,1,6,1,3,ROUTE NATIONALE 1,"4,89713000","-52,32854000"
54821,202300054822,20,10,2023,16:30,1,69,69387,2,1,6,3,Boulevard Yves Farge,"45,73306000","4,82540000"

In [8]:
display(lieux_df)

,Num_Acc,catr,voie,v1,v2,circ,nbv,vosp,prof,pr,pr1,plan,lartpc,larrout,surf,infra,situ,vma
0,202300000001,4,RUE DE RIVOLI,0,NaN,1,2,0,1,-1,-1,1,NaN,-1,2,0,1,30
1,202300000001,4,RUE SAINT FLORENTIN,0,NaN,1,1,0,1,-1,-1,1,NaN,-1,2,0,1,30
2,202300000002,3,120,0,NaN,2,3,2,1,-1,-1,1,NaN,-1,2,0,1,50
3,202300000003,3,5,0,NaN,2,4,0,1,1,0,1,NaN,-1,2,5,1,50
4,202300000003,3,87,0,NaN,2,4,0,1,1,0,1,NaN,-1,2,5,1,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70855,202300054818,4,LA FONTAINE (RUE JEAN DE),0,NaN,2,2,0,1,-1,0,1,NaN,-1,1,0,1,50
70856,202300054819,4,RN3 (ANCIENNE ROUTE),0,NaN,2,2,0,2,0,0,1,NaN,-1,1,0,1,50
70857,202300054820,4,BAMBOU (CHEMIN DE LA RUELLE),0,NaN,2,2,0,2,0,0,2,NaN,-1,1,0,8,30
70858,202300054821,2,ROUTE NATIONALE 1,0,NaN,-1,2,1,1,4,50,1,NaN,-1,1,0,1,90
70859,202300054822,4,YVES FARGES (BD),0,NaN,2,2,2,1,-1,-1,1,NaN,-1,1,0,5,30

In [9]:
display(usagers_df)

,Num_Acc,id_usager,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp
0,202300000001,203 851 184,155 680 557,A01,1,1,4,1,1978.0,5,2,0,-1,-1,-1,-1
1,202300000002,203 851 182,155 680 556,A01,1,1,1,2,1997.0,9,1,0,-1,-1,-1,-1
2,202300000002,203 851 183,155 680 556,A01,10,3,3,1,1997.0,9,0,-1,-1,2,3,1
3,202300000003,203 851 180,155 680 554,B01,1,1,3,1,1987.0,0,2,6,0,0,0,-1
4,202300000003,203 851 181,155 680 555,A01,1,1,1,2,1984.0,0,1,0,0,0,0,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125784,202300054821,203 720 720,155 583 346,A01,1,1,4,1,1971.0,1,2,0,-1,0,0,-1
125785,202300054821,203 720 721,155 583 347,B01,1,1,1,2,1968.0,1,1,0,-1,0,0,-1
125786,202300054822,203 720 717,155 583 344,A01,2,2,1,2,2003.0,2,1,-1,-1,-1,-1,-1
125787,202300054822,203 720 718,155 583 344,A01,1,1,1,2,2002.0,1,1,-1,-1,-1,-1,-1
125788,202300054822,203 720 719,155 583 345,B01,1,1,3,2,1995.0,1,2,-1,-1,-1,-1,-1

In [10]:
display(vehicules_df)

,Num_Acc,id_vehicule,num_veh,senc,catv,obs,obsm,choc,manv,motor,occutc
0,202300000001,155 680 557,A01,1,30,0,0,5,1,1,NaN
1,202300000002,155 680 556,A01,2,7,0,1,1,1,1,NaN
2,202300000003,155 680 554,B01,1,2,0,2,1,16,1,NaN
3,202300000003,155 680 555,A01,2,7,0,2,2,15,1,NaN
4,202300000004,155 680 551,B01,1,7,0,2,9,2,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...
93580,202300054820,155 583 348,A01,3,7,0,9,4,26,1,NaN
93581,202300054821,155 583 346,A01,1,30,0,2,3,9,1,NaN
93582,202300054821,155 583 347,B01,1,7,0,2,2,9,1,NaN
93583,202300054822,155 583 344,A01,2,7,0,2,7,22,1,NaN
93584,202300054822,155 583 345,B01,2,50,14,2,1,1,3,NaN

In [ ]:
# ⚡ Paramètres
EPS_METERS = 5000  # 5 km
EPS_KM = EPS_METERS / 1000  # Conversion en km

# Passer les latitudes et longitudes en float
caract_df[['lat', 'long']] = caract_df[['lat', 'long']].replace(',', '.', regex=True).astype(float)
caract_df[['lat', 'long']] = caract_df[['lat', 'long']].astype(float)

# Conversion en tableau numpy
coords = caract_df[['lat', 'long']].to_numpy()

# ⚡ Clustering avec DBSCAN (Distance en km)
db = DBSCAN(eps=EPS_KM / 6371, min_samples=2, metric='haversine').fit(np.radians(coords))

# Ajouter les clusters aux données
caract_df['cluster'] = db.labels_

# 💡 Vérification des clusters
print(caract_df['cluster'].value_counts())

# 📌 Détermination du centre de la carte
center_lat, center_lon = caract_df[['lat', 'long']].mean()

# 📌 Affichage des clusters sur une carte
fig = px.scatter_mapbox(caract_df, 
                        lat="lat", 
                        lon="long", 
                        text="adr", 
                        hover_name="adr", 
                        color="cluster", 
                        zoom=8, 
                        mapbox_style="carto-positron")

# Ajustement du centre
fig.update_layout(mapbox_center={"lat": center_lat, "lon": center_lon})

fig.show()

ValueError: could not convert string to float: '48,86638600'