In [2]:
import pandas as pd

# D√©finition des chemins des fichiers
file_2023 = "/Users/maurice/Documents/jedha/jedha/lead/00_projet_lead/datasets_projet/caract-2023.csv"
file_2022 = "/Users/maurice/Documents/jedha/jedha/lead/00_projet_lead/datasets_projet/carcteristiques-2022.csv"

# Charger les fichiers avec le bon s√©parateur
df_2023 = pd.read_csv(file_2023, sep=";", dtype=str)
df_2022 = pd.read_csv(file_2022, sep=";", dtype=str)

# Renommer la colonne 'Accident_Id' en 'Num_Acc' dans le fichier 2022
df_2022.rename(columns={"Accident_Id": "Num_Acc"}, inplace=True)

# V√©rifier si les colonnes sont identiques avant concat√©nation
if list(df_2023.columns) == list(df_2022.columns):
    # Concat√©ner les deux DataFrames
    df_2022_2023 = pd.concat([df_2023, df_2022], ignore_index=True)
    
    # Sauvegarder le DataFrame final en CSV si besoin
    df_2022_2023.to_csv("/Users/maurice/Documents/jedha/jedha/lead/00_projet_lead/datasets_projet/concatene_2022_2023.csv", index=False, sep=";")
    
    print

In [3]:
import pandas as pd

# Charger le fichier concat√©n√©
file_path = "/Users/maurice/Documents/jedha/jedha/lead/00_projet_lead/datasets_projet/concatene_2022_2023.csv"
df = pd.read_csv(file_path, sep=";", dtype=str)

# Filtrer les lignes o√π dep == 77
df_filtered = df[df["dep"] == "77"]

# Compter le nombre d'accidents par commune et par jour
df_grouped = df_filtered.groupby(["jour", "mois", "an", "dep", "com"]).size().reset_index(name="nombre_d_accidents")

In [4]:
df_grouped

     jour mois    an dep    com  nombre_d_accidents
0       1   01  2022  77  77231                   1
1       1   01  2022  77  77437                   1
2       1   01  2023  77  77182                   1
3       1   01  2023  77  77237                   1
4       1   01  2023  77  77384                   1
...   ...  ...   ...  ..    ...                 ...
1697    9   12  2022  77  77142                   1
1698    9   12  2023  77  77122                   1
1699    9   12  2023  77  77209                   1
1700    9   12  2023  77  77251                   1
1701    9   12  2023  77  77372                   1

[1702 rows x 6 columns]

In [5]:
df_grouped.to_csv("/Users/maurice/Documents/jedha/jedha/lead/00_projet_lead/datasets_projet/grouped.csv", index=False, sep=";")

In [6]:
import requests
import pandas as pd
import os

# URL de l'API gouvernementale
url = "https://geo.api.gouv.fr/departements/77/communes"

# Param√®tres de la requ√™te
params = {
    "fields": "nom,codesPostaux",
    "format": "json"
}

try:
    # Requ√™te GET vers l'API
    response = requests.get(url, params=params)
    response.raise_for_status()  # V√©rifie si la requ√™te a r√©ussi

    # R√©cup√©ration des donn√©es JSON
    communes = response.json()

    # Extraction des noms de communes et codes postaux
    data = []
    for commune in communes:
        nom_commune = commune["nom"]
        codes_postaux = ", ".join(commune["codesPostaux"])
        data.append([nom_commune, codes_postaux])

    # Cr√©ation du DataFrame
    df_communes = pd.DataFrame(data, columns=["Commune", "Codes Postaux"])

    # D√©finition du chemin d'enregistrement
    save_dir = "/Users/maurice/Documents/jedha/jedha/lead/00_projet_lead/datasets_projet"
    save_path = os.path.join(save_dir, "communes_77.csv")

    # V√©rifier si le dossier existe, sinon le cr√©er
    os.makedirs(save_dir, exist_ok=True)

    # Enregistrement du fichier CSV
    df_communes.to_csv(save_path, index=False, encoding="utf-8")

    print(f"‚úÖ Fichier enregistr√© avec succ√®s : {save_path}")

except requests.exceptions.RequestException as e:
    print(f"‚ùå Erreur lors de la requ√™te API : {e}")
except Exception as e:
    print(f"‚ùå Une erreur est survenue : {e}")

‚úÖ Fichier enregistr√© avec succ√®s : /Users/maurice/Documents/jedha/jedha/lead/00_projet_lead/datasets_projet/communes_77.csv

In [ ]:
#important 

import pandas as pd
from itertools import product

# üìÇ D√©finition des chemins des fichiers
path_accidents = "/Users/maurice/Documents/jedha/jedha/lead/00_projet_lead/datasets_projet/accidents_meteo_utf8.csv"
path_feries = "/Users/maurice/Documents/jedha/jedha/lead/00_projet_lead/datasets_projet/jours_feries_metropole.csv"
path_vacances = "/Users/maurice/Documents/jedha/jedha/lead/00_projet_lead/datasets_projet/vacances_scolaires_2017_2025.csv"
path_output = "/Users/maurice/Documents/jedha/jedha/lead/00_projet_lead/datasets_projet/accidents_completes.csv"

# üöó Charger les accidents
df_accidents = pd.read_csv(path_accidents, sep=";", encoding="utf-8")

# üìÖ Charger les jours f√©ri√©s
df_feries = pd.read_csv(path_feries, sep=",")
df_feries["Date"] = pd.to_datetime(df_feries["Date"], format="%d/%m/%Y")

# üè´ Charger les vacances scolaires
df_vacances = pd.read_csv(path_vacances, sep=",")
df_vacances["debut"] = pd.to_datetime(df_vacances["debut"], format="%d/%m/%Y")
df_vacances["fin"] = pd.to_datetime(df_vacances["fin"], format="%d/%m/%Y")

# üìÜ G√©n√©rer toutes les dates de 2022 √† 2023
dates = pd.date_range(start="2022-01-01", end="2023-12-31")
df_dates = pd.DataFrame({"date": dates})
df_dates["jour"] = df_dates["date"].dt.day
df_dates["mois"] = df_dates["date"].dt.month.astype(str).str.zfill(2)  
df_dates["an"] = df_dates["date"].dt.year

# üìå Marquer les jours f√©ri√©s
df_dates["jour_ferie"] = df_dates["date"].isin(df_feries["Date"])

# üè´ Marquer les jours de vacances pour chaque zone
for zone in ["Zone A", "Zone B", "Zone C"]:
    df_dates[f"vacances_{zone.replace(' ', '_')}"] = df_dates["date"].apply(
        lambda d: any((d >= row["debut"]) and (d <= row["fin"]) and (zone in row["zone"]) for _, row in df_vacances.iterrows())
    )

df_dates.drop(columns=["date"], inplace=True)

# üèò Cr√©er toutes les combinaisons entre dates et communes
df_complet = pd.DataFrame(product(df_dates.itertuples(index=False), df_accidents["com"]),
                          columns=["date_info", "com"])

# üß© S√©parer les valeurs de date_info en colonnes
df_complet[["jour", "mois", "an", "jour_ferie", "vacances_Zone_A", "vacances_Zone_B", "vacances_Zone_C"]] = pd.DataFrame(df_complet["date_info"].tolist(), index=df_complet.index)
df_complet.drop(columns=["date_info"], inplace=True)

# üè¢ Ajouter le d√©partement 77
df_complet["dep"] = 77

# üìä Assurer que les types sont bien les m√™mes
df_accidents["com"] = df_accidents["com"].astype(str)
df_complet["com"] = df_complet["com"].astype(str)

df_accidents["mois"] = df_accidents["mois"].astype(str).str.zfill(2)  
df_complet["mois"] = df_complet["mois"].astype(str).str.zfill(2)  

# üîó Joindre avec les accidents pour r√©cup√©rer les donn√©es existantes
df_final = df_complet.merge(df_accidents, on=["jour", "mois", "an", "dep", "com"], how="left")

# üîÑ Remplacer les NaN par 0 pour les jours sans accident
df_final["nombre_d_accidents"] = df_final["nombre_d_accidents"].fillna(0).astype(int)

# üíæ Sauvegarder le fichier final
df_final.to_csv(path_output, index=False)

print(f"‚úÖ Fichier g√©n√©r√© avec succ√®s : {path_output}")

‚úÖ Fichier g√©n√©r√© avec succ√®s : /Users/maurice/Documents/jedha/jedha/lead/00_projet_lead/datasets_projet/accidents_completes.csv

In [ ]:
#important
import pandas as pd

# üìå Chemin du fichier m√©t√©o
path_meteo = "/Users/maurice/Documents/jedha/jedha/lead/00_projet_lead/git/jedha-lead/data/meteo_celsius_Quiers_2022_2023.csv"

# üì• Charger les donn√©es m√©t√©o
df_meteo = pd.read_csv(path_meteo)

# üõ†Ô∏è Nettoyer la colonne dt_iso pour enlever le d√©calage horaire et "UTC"
df_meteo["dt_iso"] = df_meteo["dt_iso"].str.extract(r"(\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2})")

# üóìÔ∏è Convertir en format date (on garde seulement YYYY-MM-DD)
df_meteo["date"] = pd.to_datetime(df_meteo["dt_iso"]).dt.date

# üìä Agr√©ger les donn√©es par jour
df_meteo_daily = df_meteo.groupby("date").agg({
    "temp": "mean",
    "feels_like": "mean",
    "temp_min": "min",
    "temp_max": "max",
    "pressure": "mean",
    "humidity": "mean",
    "wind_speed": "mean",
    "clouds_all": "mean"
}).reset_index()

# üíæ Sauvegarde avec s√©paration par virgule et encodage UTF-8
output_path = "/Users/maurice/Documents/jedha/jedha/lead/00_projet_lead/datasets_projet/meteo_aggree_par_jour.csv"
df_meteo_daily.to_csv(output_path, index=False, sep=",", encoding="utf-8")

print(f"‚úÖ Fichier m√©t√©o agr√©g√© enregistr√© √† : {output_path}")

‚úÖ Fichier m√©t√©o agr√©g√© enregistr√© √† : /Users/maurice/Documents/jedha/jedha/lead/00_projet_lead/datasets_projet/meteo_aggree_par_jour.csv

In [11]:
import pandas as pd

# üìå Chemins des fichiers
path_accidents = "/Users/maurice/Documents/jedha/jedha/lead/00_projet_lead/datasets_projet/accidents_completes.csv"
path_meteo = "/Users/maurice/Documents/jedha/jedha/lead/00_projet_lead/datasets_projet/meteo_aggree_par_jour.csv"
save_path = "/Users/maurice/Documents/jedha/jedha/lead/00_projet_lead/datasets_projet/accidents_77_final.csv"

# üì• Charger les donn√©es d'accidents
df_accidents = pd.read_csv(path_accidents, sep=",")

# üõ† V√©rifier la pr√©sence des colonnes essentielles
assert all(col in df_accidents.columns for col in ["jour", "mois", "an"]), "Colonnes 'jour', 'mois', 'an' manquantes !"

# üî¢ Convertir "jour", "mois", "an" en entiers
df_accidents["jour"] = df_accidents["jour"].astype(int)
df_accidents["mois"] = df_accidents["mois"].astype(int)
df_accidents["an"] = df_accidents["an"].astype(int)

# üóìÔ∏è Cr√©er une colonne "date" au format YYYY-MM-DD
df_accidents["date"] = pd.to_datetime(df_accidents[["an", "mois", "jour"]].astype(str).agg('-'.join, axis=1), format='%Y-%m-%d')

# üì• Charger les donn√©es m√©t√©o
df_meteo = pd.read_csv(path_meteo)

# üóìÔ∏è Convertir "date" en datetime
df_meteo["date"] = pd.to_datetime(df_meteo["date"])

# üéØ Ne garder que les colonnes m√©t√©o n√©cessaires
cols_meteo = ["date", "temp", "feels_like", "temp_min", "temp_max", "pressure", "humidity", "wind_speed", "clouds_all"]
df_meteo = df_meteo[cols_meteo]

# üìä Fusionner les datasets sur la colonne "date"
df_final = df_accidents.merge(df_meteo, on="date", how="left")

# üíæ Enregistrer en UTF-8 avec le bon s√©parateur
df_final.to_csv(save_path, index=False, sep=",", encoding="utf-8")

print(f"‚úÖ Fichier enregistr√© avec succ√®s √† : {save_path}")

‚úÖ Fichier enregistr√© avec succ√®s √† : /Users/maurice/Documents/jedha/jedha/lead/00_projet_lead/datasets_projet/accidents_77_final.csv

In [7]:
print(df_accidents.columns)

Index(['jour;mois;an;dep;com;nombre_d_accidents;date;temp;feels_like;temp_min;temp_max;pressure;humidity;wind_speed;wind_deg;clouds_all;weather_id'], dtype='object')

In [ ]:
df_final_77 = pd.read_csv('/Users/maurice/Documents/jedha/jedha/lead/00_projet_lead/datasets_projet/accidents_77_final.csv')

In [ ]:
df_final_77

,com,jour,mois,an,jour_ferie,vacances_Zone_A,vacances_Zone_B,vacances_Zone_C,dep,nombre_d_accidents,...,temp,feels_like,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,clouds_all,weather_id
0,77760,1,1,2022,True,True,True,True,77,0,...,8.88,8.19,7.81,10.96,1027,98,1.67,198,64,803
1,77120,1,1,2022,True,True,True,True,77,0,...,8.88,8.19,7.81,10.96,1027,98,1.67,198,64,803
2,77760,1,1,2022,True,True,True,True,77,0,...,8.88,8.19,7.81,10.96,1027,98,1.67,198,64,803
3,77390,1,1,2022,True,True,True,True,77,0,...,8.88,8.19,7.81,10.96,1027,98,1.67,198,64,803
4,77410,1,1,2022,True,True,True,True,77,0,...,8.88,8.19,7.81,10.96,1027,98,1.67,198,64,803
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370105,77560,31,12,2023,False,True,True,True,77,0,...,9.17,6.01,8.38,9.84,1005,89,6.55,184,100,804
370106,77940,31,12,2023,False,True,True,True,77,0,...,9.17,6.01,8.38,9.84,1005,89,6.55,184,100,804
370107,77160,31,12,2023,False,True,True,True,77,0,...,9.17,6.01,8.38,9.84,1005,89,6.55,184,100,804
370108,77870,31,12,2023,False,True,True,True,77,0,...,9.17,6.01,8.38,9.84,1005,89,6.55,184,100,804
370109,77390,31,12,2023,False,True,True,True,77,0,...,9.17,6.01,8.38,9.84,1005,89,6.55,184,100,804

In [14]:
df_2022['dep']= df_2022['dep']==77

KeyError: 'dep'

In [ ]:
df_2022 =

0        False
1        False
2        False
3        False
4        False
         ...
55297    False
55298    False
55299    False
55300    False
55301    False
Name: dep, Length: 55302, dtype: bool

In [17]:
df_c = pd.read_csv('/Users/maurice/Documents/jedha/jedha/lead/00_projet_lead/datasets_projet/concatene_2022_2023.csv')
df_c = df[df["dep"] == 77]
df_c

ParserError: Error tokenizing data. C error: Expected 3 fields in line 20, saw 4

In [23]:
import pandas as pd

# Charger le dataset
df1 = pd.read_csv("/Users/maurice/Documents/jedha/jedha/lead/00_projet_lead/datasets_projet/concatene_2022_2023.csv", sep=";")  # Ajuste le s√©parateur si n√©cessaire

In [29]:
df1

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,adr,lat,long
0,202300000001,7,5,2023,06:00,1,75,75101,2,4,2,7,RUE DE RIVOLI,"48,86638600","2,32347100"
1,202300000002,7,5,2023,05:30,5,94,94080,2,1,3,6,Avenue de Paris,"48,84547782","2,42868146"
2,202300000003,7,5,2023,20:50,1,94,94022,2,3,2,1,Avenue du G√©n√©ral Leclerc,"48,76240000","2,40655000"
3,202300000004,6,5,2023,23:57,5,94,94078,2,1,3,5,Rue de Paris,"48,73248432","2,44687575"
4,202300000005,7,5,2023,00:50,5,94,94068,2,2,3,3,56bis Avenue Raspail,"48,78581000","2,49217000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110119,202200055298,1,1,2022,03:50,3,2B,2B293,1,1,1,6,D71,"42,3101650000","9,4785830000"
110120,202200055299,1,1,2022,07:20,3,84,84074,1,1,1,6,D973,"43,7531640000","5,2244760000"
110121,202200055300,1,1,2022,04:27,3,74,74001,1,1,9,6,D22,"46,2825320000","6,7328060000"
110122,202200055301,1,1,2022,08:40,1,81,81099,1,3,1,3,Chemin Toulze,"43,9272650000","1,9156370000"
110123,202200055302,1,3,2022,16:55,1,41,41018,2,1,1,2,RD956 - Pont Charles De Gaulle,"47,5944040000","1,3533290000"

In [28]:
df_77 = df1[df1["dep"] == '77']

In [30]:
df_77

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,adr,lat,long
211,202300000212,25,3,2023,02:20,3,77,77305,2,1,1,6,D403,"48,38871000","2,96866000"
265,202300000266,29,11,2023,15:00,1,77,77059,2,1,1,2,D217B,"48,85035000","2,66471700"
367,202300000368,10,6,2023,17:30,1,77,77265,1,1,1,1,D402,"48,96685200","3,16401800"
467,202300000468,9,6,2023,09:50,1,77,77210,1,1,1,1,RD 606,"48,36124000","2,89981000"
516,202300000517,25,10,2023,20:40,3,77,77495,2,1,1,2,D306,"48,57241000","2,62113000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109877,202200055056,12,2,2022,21:25,5,77,77217,1,1,1,2,D319,"48,6828500000","2,6393100000"
110078,202200055257,1,1,2022,11:10,2,77,77437,2,6,1,3,D401,"49,0370630000","2,7965030000"
110080,202200055259,1,1,2022,20:40,5,77,77231,2,1,1,6,D17,"48,9976590000","3,0020680000"
110086,202200055265,6,5,2022,17:15,1,77,77164,1,1,1,2,Autoroute A5 PK 27.000,"48,4443480000","2,9049830000"
110105,202200055284,7,5,2022,19:55,2,77,77171,2,3,1,3,D239,"48,8946950000","2,8204230000"